@import "tailwindcss";
@import "tailwindcss-animated";
@theme {
  --color-brand-1: #00008b;
  --color-wsp-brand: #1daa61;
}

input:focus-within {
  outline: none;
}

label,
input {
  width: 100%;
}
button {
  cursor: pointer;
}
